* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v47_33 {
  width: 375px;
  height: 812px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 28px;
  border-top-right-radius: 28px;
  border-bottom-left-radius: 28px;
  border-bottom-right-radius: 28px;
  overflow: hidden;
}
.v47_34 {
  width: 375px;
  height: 70px;
  background: rgba(224,189,58,1);
  opacity: 1;
  position: absolute;
  top: 742px;
  left: 0px;
  overflow: hidden;
}
.v43_135 {
  width: 19px;
  height: 25px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 765px;
  left: 73px;
}
.v43_104 {
  width: 19px;
  height: 25px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 764px;
  left: 128px;
}
.v43_102 {
  width: 19px;
  height: 25px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 762px;
  left: 183px;
}
.v43_175 {
  width: 19px;
  height: 25px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 764px;
  left: 25px;
}
.v26_92 {
  width: 32px;
  height: 27px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 763px;
  left: 243px;
}
.v26_116 {
  width: 41px;
  height: 27px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 762px;
  left: 304px;
}
.v47_36 {
  width: 78px;
  height: 82px;
  background: url("../images/v47_36.png");
  opacity: 1;
  position: absolute;
  top: 29px;
  left: 25px;
  border-radius: 50%;
}
.v47_38 {
  width: 212px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 50px;
  left: 125px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Sansation;
  font-weight: Italic;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v47_39 {
  width: 344px;
  height: 321px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: absolute;
  top: 163px;
  left: 13px;
  border: 1px solid rgba(0,0,0,1);
  overflow: hidden;
}
.v47_40 {
  width: 220px;
  color: rgba(95,85,85,1);
  position: absolute;
  top: 183px;
  left: 25px;
  font-family: Red Hat Display;
  font-weight: Italic;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v67_113 {
  width: 16px;
  height: 25px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 679px;
  left: 317px;
}
